@charset "UTF-8";
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Noto Sans TC;
  color: #2a2a2a;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

/* 使用@each 產出css spacer設定 */
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  font-family: "PingFang TC";
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-blockt;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.align-content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.align-content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

.d-mt-3 {
  margin-top: -0.75rem;
}

.d-mb-3 {
  margin-bottom: -0.75rem;
}

header .nav-toggle-label .hamburger::after, header .nav-toggle-label .hamburger::before {
  position: absolute;
  content: "";
  background-color: #2a2a2a;
  height: 2px;
}

header .nav-list-left .nav-item,
header .nav-list-right .nav-item, .stepper-panel .stepper-content .step .step-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stepper-panel .step-title, form .part .title {
  font-size: 24px;
  color: #2a2a2a;
  font-weight: bold;
}

input, select {
  border-radius: 4px;
  border: 1px solid #5e5e5e;
  height: 40px;
}

/*********** 共用元素 **************/
::-webkit-input-placeholder {
  color: #999999;
  font-size: 12px;
}
:-ms-input-placeholder {
  color: #999999;
  font-size: 12px;
}
::-ms-input-placeholder {
  color: #999999;
  font-size: 12px;
}
::placeholder {
  color: #999999;
  font-size: 12px;
}

input {
  -webkit-appearance: none;
  padding-left: 8px;
  width: 100%;
}

input[type="radio"] {
  cursor: pointer;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

input[type="radio"]:checked {
  -webkit-box-shadow: inset 0 0 0 6px #2a2a2a;
          box-shadow: inset 0 0 0 6px #2a2a2a;
}

select {
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;
  padding-left: 8px;
  background-color: transparent;
}

select:invalid {
  color: #999999;
}

.select-wrapper {
  background-color: transparent;
  position: relative;
}

.select-wrapper::after {
  position: absolute;
  content: "\25BE";
  top: calc(50% - 12px);
  right: 12px;
  z-index: -1;
}

/*---------- header ----------*/
header {
  background-color: khaki;
  width: 100%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 999;
  /* nav-list-toggle */
  /* nav-list */
}

header .nav-toggle-label {
  width: 20px;
  height: 15px;
  position: absolute;
  top: 18px;
  left: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-toggle-label .hamburger {
  width: 20px;
  height: 2px;
  background-color: #2a2a2a;
  position: relative;
}

header .nav-toggle-label .hamburger::after {
  width: 15px;
  top: 6px;
}

header .nav-toggle-label .hamburger::before {
  width: 10px;
  top: 12px;
}

header .nav-toggle {
  display: none;
}

header .nav-toggle:checked ~ .nav > .nav-list-left,
header .nav-toggle:checked ~ .nav > .nav-list-right {
  background-color: white;
  margin: auto -15%;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

header .nav-toggle:checked ~ .nav > .nav-list-left .nav-item,
header .nav-toggle:checked ~ .nav > .nav-list-right .nav-item {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out 0.15s;
  transition: opacity 0.3s ease-out 0.15s;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin-top: 56px;
}

header .nav-list-main {
  position: absolute;
  top: 12.5px;
  width: 135px;
  height: 25px;
  left: calc(50% - 67.5px);
}

header .nav-list-left,
header .nav-list-right {
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

header .nav-list-left .nav-item,
header .nav-list-right .nav-item {
  opacity: 0;
  height: 70px;
  border-bottom: 2px solid #f0f0f5;
}

header .nav-list-left .nav-item-icon,
header .nav-list-right .nav-item-icon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 20px 20px;
      grid-template-columns: 20px 20px 20px;
  grid-gap: 43px;
  border: none;
}

header .nav-list-left .nav-item-icon img,
header .nav-list-right .nav-item-icon img {
  width: 20px;
  height: 20px;
}

/*---------- main ----------*/
.main-content {
  height: 100vh;
  overflow-y: scroll;
  top: 56px;
  padding-top: 56px;
  margin-bottom: 10px;
}

.stepper-panel .step-title {
  margin: 15px;
}

.stepper-panel .stepper-content {
  padding: 0px 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px minmax(32px, 1fr) 32px;
      grid-template-columns: 32px minmax(32px, 1fr) 32px;
}

.stepper-panel .stepper-content .step {
  position: relative;
}

.stepper-panel .stepper-content .step:nth-child(1) .step-circle::after {
  content: "1";
}

.stepper-panel .stepper-content .step:nth-child(2) .step-circle::after {
  content: "2";
}

.stepper-panel .stepper-content .step:nth-child(3) .step-circle::after {
  content: "3";
}

.stepper-panel .stepper-content .step .step-circle {
  width: 32px;
  height: 32px;
  border: 1px solid #2a2a2a;
  border-radius: 50%;
  margin-bottom: 32px;
}

.stepper-panel .stepper-content .step.checked .step-circle {
  background-color: #2a2a2a;
}

.stepper-panel .stepper-content .step.checked .step-circle::after {
  content: "\2713";
  color: #f0f0f5;
}

.stepper-panel .stepper-content .step.active .step-circle {
  background-color: #2a2a2a;
  color: #f0f0f5;
}

.stepper-panel .stepper-content .step .connect-line {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f0f0f5;
  margin: 16px 15px;
  height: 2px;
}

.stepper-panel .stepper-content .step .connect-line.active {
  background-color: #2a2a2a;
}

form {
  padding: 0 20px;
}

form .part-a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 0.5fr (1fr)[5];
      grid-template-rows: 0.5fr repeat(5, 1fr);
  grid-gap: 0.5rem 1rem;
      grid-template-areas: "title title " "user-title name" "phone phone" "email email" "city city" "address address";
}

form .part-a .user-title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: user-title;
}

form .part-a .name {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: name;
}

form .part-a .phone {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: phone;
}

form .part-a .email {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: email;
}

form .part-a .city {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: city;
}

form .part-a .address {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: address;
}

form .part-a .title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
}

form .part {
  margin-bottom: 32px;
}

form .part .part-title {
  margin-bottom: 15px;
}

form .part .form-item > label {
  color: #808080;
  font-size: 12px;
}

form .part .form-item input,
form .part .form-item select {
  margin-top: 8px;
}

form .part .form-item .shipping-option {
  border: 1px solid #f0f0f5;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 11px 20px;
  height: 60px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 55px 1fr 55px;
      grid-template-columns: 55px 1fr 55px;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "radio title price" "radio description description";
}

form .part .form-item .shipping-option .radio {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: radio;
  -ms-grid-column-align: start;
      justify-self: start;
}

form .part .form-item .shipping-option .title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  font-size: 14px;
}

form .part .form-item .shipping-option .price {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: price;
  font-size: 12px;
  -ms-grid-column-align: end;
      justify-self: end;
}

form .part .form-item .shipping-option .description {
  font-size: 12px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: description;
}

.cart-container {
  border: 1px solid #f0f0f5;
  margin: 0px 20px 32px 20px;
  padding: 9px 16px;
  border-radius: 8px;
}

.cart-container .cart-item {
  padding: 9px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-container img {
  width: 100px;
  margin-right: 5px;
}

.cart-container .cart-detail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-container .goods {
  color: #2a2a2a;
}

.cart-container .quantity {
  width: 63px;
  text-align: center;
}

.cart-container .price {
  font-family: Nunito Sans;
  font-weight: bold;
}

.cart-container button {
  width: 26px;
  height: 26px;
  background-color: #f0f0f5;
  border-radius: 50%;
}

.cart-container .ship-content,
.cart-container .amount-content {
  font-size: 0.85rem;
  border-top: 1px solid #f0f0f5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
}

.cart-container .total-fee,
.cart-container .shipping-fee {
  font-weight: bold;
}

.btn-control {
  border-top: 1px solid #f0f0f5;
}

.btn-control button {
  background-color: #f67599;
  height: 46px;
  margin: 20px;
  width: 100%;
  border-radius: 8px;
  position: relative;
  color: white;
  font-size: 0.85rem;
}

.btn-control button[disabled] {
  opacity: 0;
}

.btn-control .back::after {
  content: "\2190";
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 0.5rem);
}

.btn-control .next::after {
  content: "\2192";
  position: absolute;
  left: calc(50% + 35px);
  top: calc(50% - 0.5rem);
}

/*---------- footer ----------*/
.footer {
  display: none;
}

/**************desktop*****************/
@media screen and (min-width: 576px) {
  header {
    /* unset */
  }
  header .nav-toggle-label {
    display: none;
  }
  header .nav,
  header .nav-list-left,
  header .nav-list-right,
  header .nav-list-main {
    all: unset;
  }
  header .nav .nav-item,
  header .nav .nav-item-icon,
  header .nav-list-left .nav-item,
  header .nav-list-left .nav-item-icon,
  header .nav-list-right .nav-item,
  header .nav-list-right .nav-item-icon,
  header .nav-list-main .nav-item,
  header .nav-list-main .nav-item-icon {
    all: unset;
  }
  header .nav {
    width: 80%;
    height: 60px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% minmax(140px, 1fr) 40%;
        grid-template-columns: 40% minmax(140px, 1fr) 40%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .nav-list-left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  header .nav-list-left .nav-item {
    font-size: 0.6rem;
    margin-right: 10px;
  }
  header .nav-list-main {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  header .nav-list-right {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main-content {
    padding-top: 70px;
    min-height: calc(100vh - 248px);
  }
  .form-panel,
  .stepper-panel,
  .cart-panel,
  .btn-control {
    padding: 0 60px;
  }
  .footer {
    height: 248px;
    width: 100%;
    background-color: #f0f0f5;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.6fr (90px)[3] minmax(108px, 0.6fr);
        grid-template-columns: 0.6fr repeat(3, 90px) minmax(108px, 0.6fr);
    padding: 0 30px;
  }
  .footer .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer .brand img {
    width: 135px;
    margin-right: 2rem;
  }
  .footer .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 70px;
  }
  .footer .item .title {
    font-size: 0.6rem;
    color: #2a2a2a;
    font-weight: bolder;
    margin-bottom: 8px;
  }
  .footer .item a {
    font-size: 0.5rem;
    color: #808080;
    margin-top: 0.1rem;
  }
}

@media screen and (min-width: 768px) {
  header .nav-list-left .nav-item {
    font-size: 0.8rem;
    margin-right: 18px;
  }
  .main-content {
    width: 100%;
    display: -ms-grid;
    display: grid;
    margin-left: 60px;
    padding-top: 100px;
    -ms-grid-columns: 50% 5% 45%;
        grid-template-columns: 50% 5% 45%;
    grid-auto-rows: 15% 60% 25%;
        grid-template-areas: "step . ." "form . cart" "btn . cart";
  }
  .stepper-panel {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: step;
  }
  .stepper-panel .step-title {
    font-size: 32px;
  }
  .stepper-panel .stepper-content {
    margin-top: 18px;
  }
  .stepper-panel .stepper-content .step {
    font-size: 0.8rem;
  }
  .stepper-panel .stepper-content .step .step-circle {
    width: 24px;
    height: 24px;
    position: relative;
  }
  .stepper-panel .stepper-content .step .connect-line {
    margin: 12px 0.8em 0px 5.5em;
  }
  .stepper-panel .stepper-content .step:nth-child(1) .step-circle::before {
    color: #2a2a2a;
    content: "寄送地址";
    position: absolute;
    width: 4rem;
    left: 32px;
  }
  .stepper-panel .stepper-content .step:nth-child(2) .step-circle::before {
    color: #2a2a2a;
    content: "運送方式";
    position: absolute;
    width: 4rem;
    left: 32px;
  }
  .stepper-panel .stepper-content .step:nth-child(3) .step-circle::before {
    color: #2a2a2a;
    content: "付款資訊";
    position: absolute;
    width: 4rem;
    left: 32px;
  }
  .form-panel {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: form;
    margin-top: 64px;
    overflow: scroll;
  }
  form .part-a {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 0.5fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-gap: 0.8rem 1.5rem;
        grid-template-areas: "title title title . . ." "user-title user-title name name name name" "phone phone phone email email email" "city city address address address address";
  }
  form .part-a .user-title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: user-title;
  }
  form .part-a .name {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-area: name;
  }
  form .part-a .phone {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: phone;
  }
  form .part-a .email {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-area: email;
  }
  form .part-a .city {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: city;
  }
  form .part-a .address {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-area: address;
  }
  form .part-a .title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: title;
  }
  form .part-a .form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form .part-a .credit-card-hloder,
  form .part-a .credit-card-number {
    max-width: 375px;
  }
  .cart-panel {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: cart;
    position: relative;
  }
  .cart-panel .cart-container {
    height: 492px;
    padding-top: 68px;
  }
  .cart-panel::after {
    position: absolute;
    content: "購物籃";
    font-size: 18px;
    font-weight: bold;
    top: 25px;
    left: 100px;
  }
  .cart-panel .cart-content {
    height: 100%;
    overflow-y: scroll;
  }
  .cart-panel .cart-detail {
    padding-left: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 65px;
        grid-template-columns: 1fr 10px 65px;
    -ms-grid-rows: 25px 75px;
        grid-template-rows: 25px 75px;
        grid-template-areas: "goods . price" "btn . .";
  }
  .cart-panel .cart-detail .goods {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: goods;
    height: 1.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cart-panel .cart-detail .add-cart-btn {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: btn;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .cart-panel .cart-detail .price {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: price;
  }
  .btn-control {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: btn;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .btn-control button {
    width: 174px;
  }
  .footer {
    grid-gap: 10px;
    padding: 0 100px;
  }
}

.d-none {
  display: none !important;
  /*override grid area*/
}
/*# sourceMappingURL=style.css.map */